body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #c1d0df;
    background-image: url('giphy.gif'); /* Corrected syntax */
   
    background-position: center; /* Centers the background image */
}

.info-box h2 {
    margin-top: 10;
    font-family: fantasy;
}

.info-box a {
    color: #EAD196; /* Change text color to white */
    text-decoration: none;
    display: inline-block;
    margin: 3px 0;
    font-family: sans-serif;
}

.container {
    text-align: center;
    position: relative;
    max-width: 800px;
    width: 90%;
    background-color: transparent; /* Make background fully transparent */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255); /* Ensure text is readable against the GIF */
    font-family: fantasy;
 
}

footer {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    text-align: center;
  
  }



.character-image {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.nav-links {
    margin-top: 20px;
}

.nav-links a {
    color: #BF3131;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
}


.content-section {
    margin-top: 20px;
    text-align: left;
    display: none;
    transition: opacity 0.5s;
}

/* Additional styles for better readability */
h3 {
    color: #507687;
}

p {
    color: #507687;
    line-height: 1.2;
    font-family: fantasy;
    
}

#info-box {
    display: none; /* Hide the info box initially */
}


#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family:'Courier New', Courier, monospace;
}



  
  button[type="submit"]:hover {
    background-color: #BF3131; /* Change background color on hover */
  }

  .photo-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.photo {
    position: absolute;
    bottom: 30px;
    width: 60px;
    height: 60px;
    animation: moveImage 10s linear infinite;
    cursor: pointer;
}



@keyframes moveImage {
    0% { left: -100px; }
    100% { left: 100%; }
}